@import "bourbon/bourbon";
@import "neat/neat";

/* --- RESET --- */

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, time, ul, li, small,
form, label {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

.my-container{
  @include outer-container();
  border:1px solid yellow;
}